.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    color:white;
    background-color: black;
    padding: .2% 3%;
}
.left, .right{
    display:  flex;
    align-items: center;
    justify-content: space-between;
}
img{
    width: 2em;
}
.right img{
    border-radius: 50%;
}